<% include ../include/header.ejs %>

<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin">Admin</a>
      </li>
      <li class="breadcrumb-item active">Gestion des classes</li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-users"></i>
        Gestion des classes</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Classe</th>
                <th>Effectif</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Classe</th>
                <th>Effectif</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
			<% for(var i=0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].nomclasse %></td>
                <td><%= data[i].effectif %></td>
                <td>
                  <form id="deleteclasse-<%= data[i].idclasse %>" style="width:100%;padding:0;margin:0;" action="/admin/classes/delete" method="post">
                    <button style="width:49%;" type="button" class="btn btn-primary" onclick="location.href='/admin/classes/edit/<%= data[i].idclasse %>';" value="edit-prof">Editer</button>
                    <input type="hidden" name="delete" value="<%= data[i].idclasse %>">
                    <% if (data[i].effectif > 0) {%>
                      <button id="deleteProf"  onclick="redirect(<%= data[i].idclasse %>);" style="width:49%;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#ClassContainModal">Supprimer</button>
                    <% } else {%>
                    <button id="delete-classe" onclick="verifier(<%= data[i].idclasse %>);" style="width:49%;" type="button" class="btn btn-danger" data-toggle="modal" data-target="#ClassDeleteModal">Supprimer</button>
                    <% } %>
                  </form>
                </td>
              </tr>
             <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Mis à jour : il y a quelques secondes...</div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-user"></i>
        Ajouter une classe</div>
      <div class="card-body">
        <form method="post" action="/admin/classes/add">
		  <div class="form-group">
		    <label for="nom">Nom de la classe</label>
		    <input type="text" id="nom" name="nomclasse" class="form-control" placeholder="Nom..."><br/>
		  </div><hr>
		  <button type="submit" class="btn btn-primary">Ajouter la classe à la base de données</button>
		</form>
      </div>

    </div>


</div>

<!-- Classe doesn't contain student Modal -->
<div class="modal fade" id="ClassDeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir supprimer cette classe?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Cliquer sur <b>Confirmer</b> pour bien la supprimer</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <button id="btn-delete" type="submit" form="deleteclasse" class="btn btn-primary">Confirmer</button>
      </div>
    </div>
  </div>
</div>

<!-- Classe contain student Modal -->
<div class="modal fade" id="ClassContainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Impossible de supprimer cette classe, elle contient des élèves</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Supprimer les élèves de cette classe pour continuer</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <button id="btn-redirect" type="button" onclick="location.href='/admin/classes'" class="btn btn-primary">Editer la classe</button>
      </div>
    </div>
  </div>
</div>

<!-- Script delete classe -->
<script src="/js/delete-classe.js"></script>

<!-- /.container-fluid -->
<% include ../include/footer.ejs %>
