<% include ../include/header.ejs %>

<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
     <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin">Admin</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin/profs">Gestion des professeurs</a>
      </li>
      <li class="breadcrumb-item active"><%= user.fullName() %></li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-users"></i>
        Gestion des professeurs : <i>Edition de l'utilisateur</i></div>
      <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <img src="/img/prof.png" alt="ROUMANET DAVID" width=300 />
            </div>
            <div class="col-lg-9">
              <form action="/admin/profs/edit/<%= user.id %>" method="post">
                <div class="form-group">
                  <label for="nom">Nom</label>
                  <input type="text" id="nom" name="nom" class="form-control" placeholder="Nom..." value="<%= user.nom %>"><br/>
                  <label for="prenom">Prénom</label>
                  <input type="text" id="prenom" name="prenom" class="form-control" value="<%= user.prenom %>" placeholder="Prénom...">
                </div>
                <br><center><button class="btn btn-success">Enregistrer les modifications</button></center><br><hr><br>
              </form>
              <form action="/admin/profs/defaultpassword/<%= user.id %>" method="post">
                <div class="form-group">
                  <b>Pseudonyme : </b> <%= user.pseudo %>
                  <center><button type="submit" class="btn btn-danger">Réinitialiser le mot de passe</button></center>
                </div>
              </form>
              </div>
            </div>
          </div><hr>
      </div>
      <div class="card-footer small text-muted">Mis à jour : il y a quelques secondes...</div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-users"></i>
        Gestion des matières</div>
      <div class="card-body">
        <div class="table-responsive">
          <form method="post" action="/admin/profs/edit/doprof" style="overflow:hidden;">
            <input type="hidden" name="idprof" value="<%= user.id %>">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th style="width:40%;">Matière</th>
                  <th style="width:20%;">Professeur ?</th>
                  <th style="width:20%;">Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Matière</th>
                  <th>Professeur ?</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
              <tbody>
                <%
                for(i = 0; i < matiere.length; i++) {%>
                <tr>
                  <td><%= matiere[i].nommatiere %></td>
                  <td>
                    <div class="custom-control custom-checkbox">
                      <center>
                        <input type="checkbox" class="form-check-input" disabled="disabled" <% if(enseigne.some(elem => elem.idmatiere == matiere[i].id)) {%> checked <%} %>  style="transform : scale(2);">
                      </center>

                    </div>

                  </td>
                  <td>
                    <center>
                      <% if(enseigne.some(elem => elem.idmatiere == matiere[i].id)) {%> <button type="submit" name="delprof" value="<%= matiere[i].id %>" class="btn btn-danger">Ne plus enseigner</button><%} else { %>
                      <button type="submit" name="doprof" value="<%= matiere[i].id %>" class="btn btn-success">Désigner comme professeur</button><% } %>
                    </center>
                  </td>
                </tr>
                <%
                }
                %>
              </tbody>
            </table>
          </form>
        </div>
      </div>
      <div class="card-footer small text-muted">Mis à jour : il y a quelques secondes...</div>
    </div>
    <hr>

</div>
<!-- /.container-fluid -->
<% include ../include/footer.ejs %>
