<% include ../include/header.ejs %>

<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
     <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin">Admin</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin/users">Gestion des élèves</a>
      </li>
      <li class="breadcrumb-item active"><%= data[0].nom + ' ' + data[0].prenom %></li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-users"></i>
        Gestion des élèves : <i>Edition de l'élève</i></div>
      <div class="card-body">
          <div class="row">
            <div class="col-lg-3">
              <img src="/img/user.png" alt="<%= classe.nomclasse %>" width=280 />
            </div>
            <div class="col-lg-9">
              <form method="post" action="/admin/users/edit/<%= data[0].id %>">
                <input type="hidden" name="idclasse" value="<%= classe.idclasse %>">
              <div class="form-group">
                <label for="nom">Nom de l'élève</label>
                <input type="text" id="nom" name="nomeleve" class="form-control" value="<%= data[0].nom %>"><br/>
                <label for="prenom">Prénom de l'élève</label>
                <input type="text" id="prenom" name="prenomeleve" class="form-control" value="<%= data[0].prenom %>"><br/>
                <label for="classe">Classe de l'élève</label>
                <select class="form-control" name="classe" id="classe">
                  <% for(var i=0; i < classe.length; i++) { %>
                      <option value="<%= classe[i].idclasse %>" <% if(classe[i].nomclasse == userClasse[0].nomclasse ) { %> selected="selected" <% } %>><%= classe[i].nomclasse %></option>
                  <% } %>
                </select>
              </div>
              <br><center><button class="btn btn-success">Enregistrer les modifications</button></center><br><hr><br>
            </form>
            <form action="/admin/users/defaultpassword/<%= data[0].id %>" method="post">
              <div class="form-group">
                <b>Pseudonyme : </b> <%= data[0].pseudo %>
                <center><button type="submit" class="btn btn-danger">Réinitialiser le mot de passe</button></center>
              </div>
              <hr><b>Moyenne générale :</b> <i>13.42</i><br/><hr>
            </form>
            </div>
          </div>
      </div>
      <div class="card-footer small text-muted">Mis à jour : il y a quelques secondes...</div>
    </div>
    <hr>
</div>
<!-- Gestion des notes de l'élève -->
<div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-users"></i>
          Gestion des notes : <i>Edition des notes</i>
        </div>
        <div class="card-body">
        </div>
      </div>
</div>


</div>
<!-- /.container-fluid -->
<% include ../include/footer.ejs %>
