<%- include ../include/header.ejs %>
<%= %>
<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
     <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin">Admin</a>
      </li>
      <li class="breadcrumb-item active">Emplois du temps</li>
    </ol>

    <div class="row">
      <div class="col-9">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-calendar "></i> Emploi du temps
          </div>
          <div class="card-body">
            <div class="form-group">
              <form action="index.html" method="post">
                <label for="">Classe : </label>
                <select class="form-control" name="">
                  <option value="" selected disabled>--Sélectionnez une classe--</option>
                  <% for (let items in classes) { %>
                    <option value="" onclick="location.href='/admin/edt/<%= classes[items].idclasse %>'"><%= classes[items].nomclasse %></option>
                  <% } %>
                </select>
              </form>
            </div>
            <div id="mytable"></div>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-calendar "></i> Editer
          </div>
          <div class="card-body" id="zone_edit">
            <% if (timetable != null) { %>
            <div class="">
              <div class="text-muted">
                Ajouter un cours
              </div>
              <hr>
              <label for="">Matière :</label>
              <select class="form-control" name="matieres">
                <option value="" disabled selected>--Sélectionnez une matière--</option>
                <% for (let items in matieres) { %>
                  <option value="<%= matieres[items].nommatiere %>"><%= matieres[items].nommatiere %></option>
                <% } %>
              </select>
              <label for="">Jour :</label>
              <select class="form-control" name="days">
                <option value="Lundi">Lundi</option>
                <option value="Mardi">Mardi</option>
                <option value="Mercredi">Mercredi</option>
                <option value="Jeudi">Jeudi</option>
                <option value="Vendredi">Vendredi</option>
              </select>
              <label for="">De :</label>
              <div class="form-group" style="display:flex">
                <input style="display:flex; flex: 0 0 50%;max-width:40%" class="form-control" type="number" name="heure_debut" min="8" max="17" value=""><p style="padding:5px">h</p>
                <select style="display:flex; flex: 0 0 50%;max-width:40%" class="form-control" name="min_debut">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select><p style="padding:5px">min</p>
              </div>
              <label for="">A :</label>
              <div class="form-group" style="display:flex">
                <input style="display:flex; flex: 0 0 50%;max-width:40%" class="form-control" type="number" name="heure_fin" min="8" max="18" value=""><p style="padding:5px">h</p>
                <select style="display:flex; flex: 0 0 50%;max-width:40%" class="form-control" name="min_fin">
                  <option value="00">00</option>
                  <option value="30">30</option>
                </select><p style="padding:5px">min</p>
              </div>
              <input type="hidden" name="complete_data">
              <div style="row">
                <center>
                  <button class="btn btn-danger" type="button" name="button" onclick="deleteData()">Supprimer</button>
                  <button class="btn btn-success" type="button" name="button" onclick="verifyData()">Enregistrer</button>
                </center>
              </div>
              <br>
              <div style="row">
              <div class="text-muted">
                Enregistrer l'emploi du temps
              </div>
              <hr>
                <center>
                  <button id="btn_reinit" class="btn btn-danger" type="button" name="button" data-toggle="modal" data-target="">Réinitialiser</button>
                  <button id="btn_update" class="btn btn-success" type="button" name="button" data-toggle="modal" data-target="">Terminer</button>
                </center>
              </div>
            </div>
            <% } else { %>
              <h4>Veuillez sélectionnez une classe</h4>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="/vendor/jquery/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="/js/admin/timetable.js" timetable="<%= JSON.stringify(timetable) %>" matieres="<%= JSON.stringify(matieres) %>"></script>

<div id="timetable_notif"></div>

<!-- Reinitialisation Modal-->
<div class="modal fade" id="Reinit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir réinitialiser l'emploi du temps ?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Cliquer sur <b>Confirmer</b> pour bien le réinitialiser</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="reinitialisation()">Confirmer</button>
      </div>
    </div>
  </div>
</div>

<!-- Reinitialisation Modal-->
<div class="modal fade" id="Update_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Êtes-vous sûr de vouloir mettre à jour l'emploi du temps ?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Cliquer sur <b>Confirmer</b> pour bien le mettre à jour</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <form id="form_post_timetable"action="/admin/edt/update/<%= index %>" method="post">
          <input type="hidden" name="data_timetable">
          <button class="btn btn-primary" type="submit" onclick="push_data()">Confirmer</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /.container-fluid -->
<%- include ../include/footer.ejs %>
